<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Nike. Just Do It. Nike VN</title>
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/image/icon.png}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/image/css/index.css}">
</head>

<body>

    <header>
        <div class="top-bar-wrapper">
            <div class="inner-content top-bar-content">
                <div class="jordan-logo">
                    <img src="image/jordanIcon.png" alt="Jordan">
                </div>
                <div class="top-right-links">
                    <a href="#">Find a Store</a>
                    <span>|</span>
                    <a href="#">Help</a>
                    <span>|</span>
                    <a href="#">Join Us</a>
                    <span>|</span>
                    <a href="http://localhost:8080/checkMail">Sign In</a>
                </div>
            </div>
        </div>

        <nav class="main-nav-wrapper">
            <div class="inner-content">
                <a href="http://localhost:8080/home" class="nike-logo">
                    <img src="image/icon.png" alt="Nike">
                </a>

                <div class="nav-links">
                    
                    <div class="nav-item">
                        <a href="#">New & Featured</a>
                        <div class="dropdown-menu">
                            <div class="dropdown-inner">
                                <div class="dropdown-column">
                                    <h3>Featured</h3>
                                    <ul>
                                        <li><a href="#">New Arrivals</a></li>
                                        <li><a href="#">Bestsellers</a></li>
                                        <li><a href="#">Member Exclusive</a></li>
                                        <li><a href="#">SNKRS Launch Calendar</a></li>
                                    </ul>
                                </div>
                                <div class="dropdown-column">
                                    <h3>Shop Icons</h3>
                                    <ul>
                                        <li><a href="#">Air Force 1</a></li>
                                        <li><a href="#">Air Jordan 1</a></li>
                                        <li><a href="#">Air Max</a></li>
                                        <li><a href="#">Dunk</a></li>
                                        <li><a href="#">Pegasus</a></li>
                                    </ul>
                                </div>
                                <div class="dropdown-column">
                                    <h3>Trending</h3>
                                    <ul>
                                        <li><a href="#">Shop Sport</a></li>
                                        <li><a href="#">Adidas vs Nike</a></li>
                                        <li><a href="#">Retro Running</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="nav-item">
                        <a href="#">Men</a>
                        <div class="dropdown-menu">
                            <div class="dropdown-inner">
                                <div class="dropdown-column">
                                    <h3>Featured</h3>
                                    <ul>
                                        <li><a href="#">New Arrivals</a></li>
                                        <li><a href="#">Bestsellers</a></li>
                                        <li><a href="#">Shop All Sale</a></li>
                                    </ul>
                                </div>
                                <div class="dropdown-column">
                                    <h3>Shoes</h3>
                                    <ul>
                                        <li><a href="#">All Shoes</a></li>
                                        <li><a href="#">Lifestyle</a></li>
                                        <li><a href="#">Jordan</a></li>
                                        <li><a href="#">Running</a></li>
                                        <li><a href="#">Basketball</a></li>
                                        <li><a href="#">Football</a></li>
                                    </ul>
                                </div>
                                <div class="dropdown-column">
                                    <h3>Clothing</h3>
                                    <ul>
                                        <li><a href="#">All Clothing</a></li>
                                        <li><a href="#">Tops & T-Shirts</a></li>
                                        <li><a href="#">Shorts</a></li>
                                        <li><a href="#">Hoodies & Sweatshirts</a></li>
                                        <li><a href="#">Pants & Leggings</a></li>
                                    </ul>
                                </div>
                                <div class="dropdown-column">
                                    <h3>Accessories</h3>
                                    <ul>
                                        <li><a href="#">All Accessories</a></li>
                                        <li><a href="#">Bags & Backpacks</a></li>
                                        <li><a href="#">Socks</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="nav-item">
                        <a href="#">Women</a>
                        <div class="dropdown-menu">
                            <div class="dropdown-inner">
                                <div class="dropdown-column">
                                    <h3>Featured</h3>
                                    <ul>
                                        <li><a href="#">New Arrivals</a></li>
                                        <li><a href="#">Bestsellers</a></li>
                                        <li><a href="#">Shop All Sale</a></li>
                                    </ul>
                                </div>
                                <div class="dropdown-column">
                                    <h3>Shoes</h3>
                                    <ul>
                                        <li><a href="#">All Shoes</a></li>
                                        <li><a href="#">Lifestyle</a></li>
                                        <li><a href="#">Running</a></li>
                                        <li><a href="#">Gym & Training</a></li>
                                        <li><a href="#">Jordan</a></li>
                                    </ul>
                                </div>
                                <div class="dropdown-column">
                                    <h3>Clothing</h3>
                                    <ul>
                                        <li><a href="#">All Clothing</a></li>
                                        <li><a href="#">Performance Essentials</a></li>
                                        <li><a href="#">Sports Bras</a></li>
                                        <li><a href="#">Pants & Leggings</a></li>
                                        <li><a href="#">Tops & T-Shirts</a></li>
                                    </ul>
                                </div>
                                <div class="dropdown-column">
                                    <h3>Accessories</h3>
                                    <ul>
                                        <li><a href="#">Bags & Backpacks</a></li>
                                        <li><a href="#">Socks</a></li>
                                        <li><a href="#">Hats & Headwear</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="nav-item">
                        <a href="#">Kids</a>
                        <div class="dropdown-menu">
                            <div class="dropdown-inner">
                                <div class="dropdown-column">
                                    <h3>Featured</h3>
                                    <ul>
                                        <li><a href="#">New Arrivals</a></li>
                                        <li><a href="#">Bestsellers</a></li>
                                        <li><a href="#">Back to School</a></li>
                                    </ul>
                                </div>
                                <div class="dropdown-column">
                                    <h3>Shoes</h3>
                                    <ul>
                                        <li><a href="#">All Shoes</a></li>
                                        <li><a href="#">Lifestyle</a></li>
                                        <li><a href="#">Jordan</a></li>
                                        <li><a href="#">Football</a></li>
                                        <li><a href="#">Running</a></li>
                                    </ul>
                                </div>
                                <div class="dropdown-column">
                                    <h3>Clothing</h3>
                                    <ul>
                                        <li><a href="#">All Clothing</a></li>
                                        <li><a href="#">Tops & T-Shirts</a></li>
                                        <li><a href="#">Sport Bras</a></li>
                                        <li><a href="#">Hoodies & Sweatshirts</a></li>
                                    </ul>
                                </div>
                                <div class="dropdown-column">
                                    <h3>Kids By Age</h3>
                                    <ul>
                                        <li><a href="#">Older Kids (7 - 14 years)</a></li>
                                        <li><a href="#">Younger Kids (4 - 7 years)</a></li>
                                        <li><a href="#">Babies & Toddlers (0 - 4 years)</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="nav-item">
                        <a href="#">Sale</a>
                        <div class="dropdown-menu">
                            <div class="dropdown-inner">
                                <div class="dropdown-column">
                                    <h3>Sale & Offers</h3>
                                    <ul>
                                        <li><a href="#">Shop All Sale</a></li>
                                        <li><a href="#">Bestsellers</a></li>
                                    </ul>
                                </div>
                                <div class="dropdown-column">
                                    <h3>Men's Sale</h3>
                                    <ul>
                                        <li><a href="#">Shoes</a></li>
                                        <li><a href="#">Clothing</a></li>
                                        <li><a href="#">Accessories</a></li>
                                    </ul>
                                </div>
                                <div class="dropdown-column">
                                    <h3>Women's Sale</h3>
                                    <ul>
                                        <li><a href="#">Shoes</a></li>
                                        <li><a href="#">Clothing</a></li>
                                        <li><a href="#">Accessories</a></li>
                                    </ul>
                                </div>
                                <div class="dropdown-column">
                                    <h3>Kids' Sale</h3>
                                    <ul>
                                        <li><a href="#">Shoes</a></li>
                                        <li><a href="#">Clothing</a></li>
                                        <li><a href="#">Accessories</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="nav-backdrop"></div>

                <div class="nav-actions">
                    <div class="search-container">
                        <i class="fa-solid fa-magnifying-glass search-icon-btn"></i>
                        <input type="text" placeholder="Search">
                    </div>
                    <a href="#" class="action-icon"><i class="fa-regular fa-heart"></i></a>
                    <a href="#" class="action-icon"><i class="fa-solid fa-bag-shopping"></i></a>
                </div>
            </div>
        </nav>

        <div class="promo-bar-wrapper">
            <div class="inner-content promo-content" style="display: block;">
                <div class="promo-text">Free Standard Delivery & 30-Day Free Returns</div>
                <div class="promo-subtext">
                    <a href="#">Join Now</a>
                    <a href="#">View Details</a>
                </div>
            </div>
        </div>
    </header>

    <div class="search-overlay" id="searchOverlay">
        <div class="search-overlay-content">
            <div class="search-top-bar">
                <a href="#" class="overlay-logo">
                    <img src="image/icon.png" alt="Nike">
                </a>

                <div class="big-search-container">
                    <i class="fa-solid fa-magnifying-glass search-icon-big"></i>
                    <input type="text" placeholder="Search" id="bigSearchInput">
                </div>

                <button class="btn-cancel" onclick="closeSearch()">Cancel</button>
            </div>

            <div class="search-suggestions">
                <p class="suggestion-title">Popular Search Terms</p>
                <div class="tags-container">
                    <a href="#" class="search-tag">luka 5</a>
                    <a href="#" class="search-tag">air force 1</a>
                    <a href="#" class="search-tag">jordan</a>
                    <a href="#" class="search-tag">air max</a>
                    <a href="#" class="search-tag">basketball shoes</a>
                    <a href="#" class="search-tag">nike tech</a>
                </div>
            </div>
        </div>
        <div class="overlay-backdrop" onclick="closeSearch()"></div>
    </div>


    <!-- link script vào -->
    <script src="/image/js/index.js"></script>
</body>

</html>